.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f0f4f8;
    border: 2px solid #d6dde4;
    border-radius: 10px;
}

. html {

    background-color: #f0f4f8;
    
    
    }